@import "vars"




@media only screen and (max-width : 991px)


	.top-line-contacts
		text-align: center

	.logo-wrap, .top-line-btn-wrap, .top-line-worktime-wrap, .top-line-contacts-wrap
		min-height: auto

	.logo-img-wrap
		max-width: 60px

	.page-nav
		height: 0
		min-height: auto

	.top-menu
		flex-direction: column

	.menu-collapsed 
		transition: all .25s
		position: fixed
		top: -36px
		right: -36px
		height: 36px
		width: 36px
		z-index: 100
		cursor: pointer
		ul 
			transition: all 0s
			position: fixed
			right: -9000px
	   

	.bar 
		transition: all .25s
		content: ""
		height: 6px
		width: 30px
		border-radius: 15px
		background-color: rgba(0, 0, 0, 0.95)
		position: fixed
		right: 12px
		top: 80px
		&:before 
			transition: all .25s
			content: ""
			position: absolute
			left: 0
			height: 6px
			width: 30px
			border-radius: 15px
			background-color: rgba(0, 0, 0, 0.95)
			top: -8px
	   
		&:after 
			transition: all .25s
			content: ""
			position: absolute
			left: 0
			height: 6px
			width: 30px
			border-radius: 15px
			background-color: rgba(0, 0, 0, 0.95)
			top: 8px


	.b-a-expanded 
		transition: all .25s
		top: -0px

	.menu-expanded 
		transition: all .25s
		text-align: center
		line-height: 2em
		height: 100%
		width: 100%
		border-radius: 0px
		top: 0
		right: 0
		background-color: rgba(45, 104, 165, 0.85)
		overflow-y: auto
		overflow-x: hidden
		ul 
			display: block
			text-align: center
			transition: all 0s
			position: relative
			right: 0
			z-index: 2
			padding-top: 100px

		li
			float: none
	   
		a, span
			transition: all .15s
			text-decoration: none
			color: #fff
			display:block
			padding: 10px 0 !important
			font-size: 2em

			&:hover 
				background-color:rgba(white, .8)
				transition: all .15s

	      
	   
		.bar 
			background-color: transparent
			transition: all .25s
			&:before 
				transition: all .25s
				top: 0
				transform: rotate(45deg)
			&:after 
				transition: all .25s
				top: -0px
				transform: rotate(-45deg)
	     

	.carservice-columns
		width: 25%


	.content
		background-position: 0 0
	.pl-100
		padding-left: 0



	.consultation-wrap
		margin-bottom: -30px

	.consultation-form-heading
		padding-right: 25px
	.form
		input
			padding-left: 25px




	.advantages
		max-height: 100%
		&-content
			padding-top: 45px
			padding-left: 0
			background-position: 100% -17%
		.line
			padding-top: 15px
			padding-bottom: 15px
		&-column-1, &-column-3, &-column-5
			top: 0
			margin-left: 30%
			.advantages-img-wrap
				left: -182px
		&-column-2, &-column-4, &-column-6
			top: 0
			margin-left: 50%
			.advantages-img-wrap
				right: 35px

		.columns
			.advantages-img-wrap
				top: 0

		&-item-text
			max-width: 56%

	.advantages-btn-wrap
		margin: 45px auto 0
		top: -27px



	.our-advantage
		.wrapper
			padding: 0
		.columns
			width: 50%



	.software
		.wrapper
			padding: 0
		.columns
			width: 100%
		&-heading
			text-align: center
		&-img-background
			margin: 0 auto
		&-description
			margin-top: 30px


	.service-list
		.wrapper
			padding: 0
		.columns
			width: 50%


	.request
		.wrapper
			padding: 0
		&-background
			&::after
				display: none
		&-heading
			width: 48%
			padding-right: 0
			left: 50%
			transform: translateX(-50%)
		&-form
			padding-top: 60px
			text-align: center
			label, .form-btn-wrap
				width: 100%
				max-width: 260px
				margin-right: 0
			.label-name
				margin-right: 40px
			.form-btn-wrap
				margin-left: 0


	.questions
		.wrapper
			padding: 0

		&-heading
			font-size: 2.5em
			padding-top: 10px
			&::after
				bottom: 0

		&-form-wrap
			padding: 15px


	/**/








@media only screen and (max-width : 768px)

	.top-line
		.columns
			width: 33%
			padding: 0
			left: 0
			right: 0
			&::after
				display: none
		.column-3
			width: 25%
		.column-1, .column-4
			width: 37.5%
		.column-2
			width: 100%
	.logo-wrap 
		.logo-text
			padding-left: 5px
			br
				display: none

	.bar
		top: 35px


	.content
		background-position: 50% 0
		.wrapper
			padding-left: 15px
			padding-right: 15px

	.sevice-cards 
		.block-title
			font-size: 1.8em
	.carservice-columns
		width: 33.33333333%



	.main-heading
		font-size: 2em
	.descr-columns
		width: 100%
	.mw-400
		max-width: 400px
		margin: 0 auto


	.service-offer
		margin-top: 27px
	.descr-columns
		.img-wrap
			margin-top: 27px
	.descr-img
		margin-right: auto




	.consultation
		padding: 25px
		position: relative

	.consult-column-1, .consult-column-2
		width: 100%
	.consult-column-2
		position: static

	.consultation-heading
		position: relative
		top: 50px

	.consultation-form-heading
		width: 100%
		top: -12px
		right: 0
		left: 0

	.consult-form-descr, .consult-form
		padding-left: 0

	.hidden-text-desktop
		display: inline
	.hidden-text-mob
		display: none

	.form
		max-width: 75%
		margin-left: auto
		margin-right: auto
	.consult-form
		margin-top: 25px


	.advantages
		&-content
			background: none
		&-heading
		&-subtitle
			display: inline
		.columns
			margin-left: 47%
			.advantages-img-wrap
				right: auto
				left: -170px
				width: 122px
				height: 106px

		&-item-text
			max-width: 75%


	.page-content
		h1
			font-size: 2.5em
		h2
			font-size: 2em
		h3
			font-size: 1.75em
		h4
			font-size: 1.5em

		div[class~="fl-l"], div[class~="fl-r"]
			float: none
			margin: 0 auto 20px
		div[class^="ml"], div[class^="mr"]
			margin-left: 0
			margin-right: 0
		.text-list
			&.columns-2
				li
					width: 100%
					float: none



	.services
		.services-table
			width: 80%
			min-width: auto
			thead tr 
				position: absolute
				top: -9999em
				left: -9999em

			// tr + tr 
			// 	margin-bottom: 1.5em


			tr, td 
				display: block
				position: relative

			td 
				border: none
				border-bottom: 0.125em solid #3b72c9
				padding-left: 50%
				background-image: none
				&::before 
					content: attr(data-label)
					display: inline-block
					font-weight: bold
					line-height: 1.5
					margin-left: -95%
					width: 100%
					color: #fff
				&::after
					content: ''

			tr:last-child
				td:last-child
					border-bottom: none

			.img-cell
				display: inline-block
				width: 100%
				position: absolute
				top: -2px
				transform: translateX(-30px)
				border: none

	.service-list
		.columns
			width: 100%



	.feedbacks
		background-position: 50% 0
		&-content-wrap
			margin-top: 10px
			border: 12px solid #3c5c97
		&-client
			position: relative
			top: 0
			&::after
				display: none
			&-info
				top: 0
			&-photo
				position: absolute
				width: auto
		&-content
			border: none
			margin-top: 357px
		&-slide
			padding-top: 0
		&-heading, &-achievment
			position: static



	.request
		&-heading
			position: static
			transform: none
			width: 100%
			padding: 15px 15px 15px 14.5vw
		&-form
			padding-top: 5px
			label, .form-btn-wrap
				display: block
				max-width: 100%
				min-width: auto
			.label-name
				margin-right: 0
			.form-btn-wrap
				margin-left: 0



	.questions
		&-wrap
			max-width: 832px
			margin: 0 auto
			padding: 10px
			border: 12px solid $accent_color
			position: relative
			background-color: #fff
		&-inline-wrap
			padding: 10px 10px 20px

		&-column-1 ,&-column-2
			width: 100%
		&-heading
			padding: 0
			left: 0
			&::after
				transform: scale(.5) rotate(90deg)
				bottom: -20px
				right: -50px

			span
				display: inline-block
			br
				display: block
		&-form-wrap
			padding-top: 20px
		&-form-heading
			padding-left: 10vw

		.form-btn-wrap
			margin-top: 19px



	.modal-form-wrap
		.modal-form-column-1, .modal-form-column-2
			width: 100%
		.modal-form-column-1
			margin-right: 0
		.geoloctaion
			padding: 0

		.t-255
			top: 255px
		.b-270
			bottom: 270px

		.tel-input, .time-date
			width: 48%

		.cd-checkbox
			max-width: 205px


		.slick-slider
			margin-top: 30px
			.img-wrap
				img
					display: inline-block


	.error
		font-size: .5em




	/**/






@media only screen and (max-width : 576px)
	
	.top-line
		.columns
			width: 100%
			float: none

	.logo-wrap
		width: 235px
		margin: 0 auto

	.top-line-worktime, .top-line-contacts
		// width: 140px
		margin: 0 auto
		text-align: center

	.bar
		top: 35px

	.carservice-columns
		width: 50%
	.carservice-card-title
		background-position: 21% 39%

	.main-heading-colored
		display: inline


	.page-content
		blockquote
			margin-top: 20px
			margin-bottom: 20px
			padding: 15px

	.advantages
		&-content
			padding-top: 105px
			padding-bottom: 35px
		&-heading

		&-column-1
			margin-left: 0
		&-column-2
			margin-left: 0
		&-column-3
			margin-left: 0
			top: 0
		&-column-4
			margin-left: 0
			top: 0
		&-column-5
			margin-left: 0
			top: 0
		&-column-6
			margin-left: 0
			top: 0
		&-items
			padding: 30px 0
		&-item
			margin-bottom: 20px
			&.mb-0
				margin-bottom: 0
		&-item-text
			max-width: 100%


	.advantages-btn-wrap
		top: 0


	.services
		.services-table
			width: 100%


	.our-advantage
		.columns
			width: 100%

	.error
		padding-top: 10vh
		font-size: .4em


/**/







@media only screen and (max-width : 480px)

	.top-line
		.columns
			width: 100%

	.carservice-card-title
		&::before
			top: 4px
			left: 3px


	.consultation
		padding: 50px 10px 25px
		border-width: 6px

	.consultation-form-heading
		top: -6px

	.form
		max-width: 100%
		input
			padding-left: 15px


	.page-content
		padding-top: 25px
		h1
			font-size: 2.25em
		h2
			font-size: 1.8em
		h3
			font-size: 1.5em
			margin: 10px 0
		h4
			font-size: 1.25em
		p
			text-indent: 20px
		.text-img-gallery
			padding: 0
		.text-img-wrap
			width: 290px
			margin-left: 0
			margin-right: 0
		.text-list
			padding-left: 15px
		blockquote
			margin: 20px 0
			padding: 15px 20px


	.services
		.services-table
			font-size: 13px
			td
				// vertical-align: top
				&::before 
					width: 95%
					// padding-right: 35px
					// vertical-align: top
			.img-cell
				transform: translate(-27px,-1px)

	.our-advantage
		&-img-wrap
			width: 290px

	.software
		&-description
			margin-top: 0
		&-img-background
			width: 290px
			background-size: 100%
		&-img-wrap
			width: 100%
			height: 157px
		&-btn-wrap
			margin-top: 15px




	.service-list
		&-img-bg
			width: 290px
		&-img-wrap
			width: 100%


	.advantages
		&-content
		.columns
			margin-left: 33%
			.advantages-img-wrap
				left: -95px
				width: 86px
				height: 86px
				transform: none
		&-items
			padding: 30px 0 0

		&-item-text
			max-width: 100%


	.feedbacks
		background-position: 90% 0
		&-content-wrap
		&-client
			min-width: auto
			&-info
				position: static
				width: auto
				max-width: 100%
				padding: 0 0 10px 0
				&-head, &-name
					margin-bottom: 6px

			&-tel, &-email
				margin-bottom: 6px
				width: 100%
				float: none
			&-email
				text-align: left
			&-photo
				min-width: 265px
				width: 100%
				height: auto
				position: static
		&-content
			padding: 10px
			margin-top: 40px
			font-size: 15px
			&::after
				top: -24px
				left: 0	

		&-achievment
			font-size: 1.2em
			min-width: auto



	.request
		&-heading
			padding: 15px 10px
		&-form
			padding: 5px 10px
			label, .form-btn-wrap
				max-width: 100%

	.questions
		&-form-heading
			padding-left: 0
		&-form-wrap
			padding-left: 0
			padding-right: 0



	.btn__scroll-up
		display: none!important


	.call-btn 
		transform: scale(.8)

	/**/
