@import "fonts"
@import "vars"


@import "../libs/magnific-popup/dist/magnific-popup.css"

// body input:focus:required:invalid,
// body textarea:focus:required:invalid
// 	color: #fff
// body input:required:valid,
// body textarea:required:valid
// 	color: #fff


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary
	display: block


b, strong
	font-weight: bold

h1
	font-size: 2em
	margin: 0.67em 0

img
	border: 0

svg:not(:root)
	overflow: hidden

figure
	margin: 1em 40px

button, input, optgroup, select, textarea
	color: inherit
	font: inherit
	margin: 0

button
	overflow: visible
	text-transform: none

select
	text-transform: none

button, html input[type="button"]
	cursor: pointer

input
	&[type="reset"], &[type="submit"]
		-webkit-appearance: button
		cursor: pointer

button[disabled], html input[disabled]
	cursor: default

button::-moz-focus-inner
	border: 0
	padding: 0

input
	&::-moz-focus-inner
		border: 0
		padding: 0
	line-height: normal
	&[type="checkbox"], &[type="radio"]
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		padding: 0
	&[type="number"]
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
			height: auto
	&[type="search"]
		-webkit-appearance: textfield
		-webkit-box-sizing: content-box
		-moz-box-sizing: content-box
		box-sizing: content-box
		&::-webkit-search-cancel-button, &::-webkit-search-decoration
			-webkit-appearance: none

textarea
	overflow: auto


table
	border-collapse: collapse
	border-spacing: 0

td, th
	padding: 0


*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

html
	font-size: 10px
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	font-family: sans-serif
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%

input, button, select, textarea
	font-family: inherit
	font-size: inherit
	line-height: inherit

a
	background-color: transparent
	color: #337ab7
	text-decoration: none
	&:hover
		color: #23527c
		text-decoration: underline
	&:focus
		color: #23527c
		text-decoration: underline
		outline: 5px auto -webkit-focus-ring-color
		outline-offset: -2px
	&:active, &:hover
		outline: 0

figure
	margin: 0

img
	vertical-align: middle



.img-responsive
	display: block
	max-width: 100%
	height: auto


.wrapper, .wrapper-fluid
	margin-right: auto
	margin-left: auto
	// padding-left: 15px
	// padding-right: 15px

@media (min-width: 768px)
	.wrapper
		width: 750px

@media (min-width: 992px)
	.wrapper
		width: 990px





.clearfix
	&:before, &:after
		content: " "
		display: table

.wrapper
	&:before, &:after
		content: " "
		display: table

.row
	&:before, &:after
		content: " "
		display: table

.clearfix:after, .wrapper:after, .wrapper-fluid:after, .row:after
	clear: both


h1, h2, h3
	font-family: $bold_font_family


.columns
	position: relative
	min-height: 1px
	float: left


.btn
	line-height: $default_line_height
	padding: 10px 40px
	min-height: 34px
	font-size: 14px
	color: #000
	border: none
	outline: none
	border-radius: 2px
	transition: all 0.2s ease 0s
	background-color: #eecb13
	background-image: linear-gradient(to bottom, #eecb13 35%, #c77900)
	box-shadow: 0 5px 5px -4px #c77900, 0 12px 10px -11px #ad6c15
	
	&:hover
		background-color: #fdcb00
		background-image: linear-gradient(to bottom, #fdcb00 35%, #f79b03)
	&:active
		background-color: #f79b03
		background-image: linear-gradient(to bottom, #f79b03 35%, #fdcb00)


*
	// outline: 1px solid #333


body
	margin: 0
	font-family: $default_font_family, Helvetica, Arial, sans-serif
	font-size: 16px
	line-height: $default_line_height
	color: $default_text_color

.page-wrapper
	max-width: 1200px
	margin: 0 auto
	background: #fff url('../img/top-bg.jpg') no-repeat
	background-position: 0 0
	background-size: contain
	min-height: 100vh

.top-line
	min-height: 85px
	margin: 0 auto

	.wrapper
		max-width: 750px
		width: auto

	.columns
		&::after
			content: ''
			position: absolute
			top: 15px
			right: 0
			display: inline-block
			width: 1px
			height: 47px
			background-color: #000

	.column-1
		width: 34%
	.column-2
		width: 24%
		right: 42%
		padding: 0 20px
	.column-3
		width: 20%
		left: 25%
	.column-4
		width: 22%
		left: 25%
		padding-left: 20px
		&::after
			display: none


.logo-wrap, .top-line-btn-wrap, .top-line-worktime-wrap, .top-line-contacts-wrap
	min-height: 85px


.logo-wrap
	padding-top: 9px
	.logo-img-wrap
		width: 25%
		float: left
	
	.logo-text
		float: left
		width: 75%
		padding-top: 6px
		
	.logo-title
		font-size: 18px
		font-weight: bold
	.logo-subtitle
		font-size: 12px


.top-line-btn-wrap
	line-height: 75px
	text-align: center

.top-line-btn
	padding: 0 10px
	background-color: #42689d
	background-image: linear-gradient(to bottom, #42689d, #2b487b)
	color: #fff
	box-shadow: none


.top-line-worktime, .top-line-contacts
	padding-top: 12px
.top-line-worktime
	text-align: center

.tel a
		color: $accent_color
		text-decoration: none
		cursor: auto
		&:hover
			color: $accent_color
		&:active
			color: $accent_color

.mail a 
	color: inherit

.page-nav
	min-height: 41px
	background-color: #0069a8

.top-menu
	height: 100%
	margin: 0 -15px 0 -15px
	padding: 0
	font: 1em/41px $bold_font_family
	list-style-type: none


	li
		float: left
		&:last-child
			a
				padding: 0 42px
	a
		display: block
		padding: 0 2.375em
		color: #fff
		text-transform: uppercase
		transition: all .2s
		&:hover
			background-color: #365d97






.content
	background: url('../img/main-bg-img.png') no-repeat 120px -22px








// ================================================
.sevice-cards
	.row
		margin-left: -15px
		margin-right: -15px

	.block-title
		margin-top: 12px
		margin-bottom: 15px


.service-columns
	width: 16.66666667%
	padding-right: 20px
	padding-left: 20px

.block-title
	font: 2.25em $bold_font_family
	color: #2c4e8e
	text-align: center

.service-card
	min-height: 55px
	margin-bottom: 15px
	position: relative
	background-color: #e1e1e1
	border: 1px solid #a0a0a0
	border-radius: 5px
	font-size: 14px
	text-align: center
	&:hover
		.card-hidden-text
			display: block
		.service-card-title
			position: absolute
			top: -17px
			left: 50%
			transform: translateX(-50%)
			transition: all .5s
		.service-card-tel
			background-color: #09478c

.card-hidden-text
	display: none
	padding: 1px 0 2px
	color: #09478c


.service-card-title
	width: 100%
	padding: 1px 0 2px
	color: #04515a
	background-image: url('../img/metro-icon.png')
	background-repeat: no-repeat
	background-position: 8px 39%
	transition: none



.service-card-tel
	background-color: #464646
	box-shadow: 0 -1px 0 #595959
	transition: all .5s
	a
		cursor: default
		color: #fff
		text-decoration: none

.service-card-more
	padding: 1px 0 2px
	a
		cursor: default
		color: #555












.main-heading
	margin-top: 7px
	font: 3em $bold_font_family
	color: #000
	text-decoration: underline
	&-colored
		display: block
		color: #2e5090
		text-decoration: underline











// ================================================
.descr-columns
	width: 50%
.pl-100
	padding-left: 100px

.description-list
	margin: 0
	padding: 0
	list-style-type: none
	font-size: 1.125em
	color: #2e5090
	li
		margin-bottom: 3px
		padding: 1px 0 1px 25px
		background: url('../img/list-icon.png') no-repeat 0 50%







// ================================================
.service-offer
	margin-top: 43px
	display: inline-block
	padding: 20px 20px 29px
	text-align: center
	border: 6px solid $accent_color

.offer-text, .offer-date
	font-family: $bold_font_family
	text-transform: uppercase
.offer-text
	font-size: 1.875em
	color: #2e5090
.offer-date
	font-size: 2.5em
	color: #ed1b23
.offer-btn
	margin-top: 14px

.descr-img
	margin-left: auto









// ================================================
.consultation-wrap
	position: relative
	z-index: 1
.consultation
	max-width: 832px
	margin: 64px auto 0
	padding: 25px 35px 25px 25px
	border: 12px solid $accent_color
	position: relative
	background-color: #fff

.consult-column-1,
	width: 61%
.consult-column-2
	width: 39%


.consultation-heading, .consult-form-descr-head
	font: 2em $bold_font_family
.consultation-heading
	padding-right: 30px
	width: 100%
	top: -50px
.c-fff
	display: inline-block
	padding: 0 10px
	background-color: #fff
.pl-10
	display: inline-block
	padding-left: 10px

.consultation-heading-colored, .consult-form-descr-head
	color: #395894
.consultation-heading, .consultation-form-heading
	position: absolute

.consultation-form-heading
	width: 110.5%
	padding: 15px 0 15px 15px
	top: -46px
	right: -47px
	background-color: $accent_color
	color: #fff


.consult-form-descr, .consult-form
	margin-top: 65px	
	padding-left: 10px

.consult-form-descr-head
	font-size: 1.875em
	letter-spacing: -1px

.hidden-text-desktop
	display: none

.consult-form-descr-list
	margin-top: 5px
	padding: 0
	font-size: 1.125em
	list-style-type: none
	counter-reset: li
	li
		margin-bottom: 6px
		padding-left: 30px
		position: relative
		&::before
			counter-increment: li
			content: counter(li, decimal-leading-zero)
			font-size: 1em
			position: absolute
			left: 0

.form
	label
		width: 100%
		display: block
		margin-bottom: 10px
		min-height: 43px
		background-color: $input_color
		padding-left: 42px
		background-repeat: no-repeat
		background-position: 12px 50%
		&.label-name
			background-image: url('../img/name.png')
		&.label-email
			background-image: url('../img/email.png')
		&.label-tel
			background-image: url('../img/tel.png')
		
	input
		width: 100%
		padding: 14px 12px 12px 40px
		background-color: $input_color
		border: none
		outline: none
		border-left: 2px solid #fff
		font-size: 14px
		color: #000
		&:focus
			box-shadow: inset -3px 3px 20px -7px rgba(0, 0, 0, 0.5)

		&::-webkit-input-placeholder
			color: #000
			opacity: 1

		&:-moz-placeholder
			color: #000
			opacity: 1

		&::-moz-placeholder
			color: #000
			opacity: 1

		&:-ms-input-placeholder
			color: #000
			opacity: 1

.form-btn-wrap
	text-align: center
	margin: 19px 0 15px
.form-garanty
	display: inline-block
	text-align: center
	font-size: 14px
	color: #acacac







// ================================================
.advantages
	position: relative
	top: -90px
	max-height: 767px
	background: url('../img/advantages-bg.jpg') no-repeat
	background-position: center
	background-size: cover
	color: #fff
	&-content
		padding-top: 95px
		padding-left: 115px
		background-image: url('../img/rect-long.png'), url('../img/rect.png'), url('../img/rect.png'), url('../img/rect.png'), url('../img/rect.png'), url('../img/rect.png'), url('../img/rect.png')
		background-repeat: no-repeat
		background-position: 100% -1%, 15% 30%, 100% 45%, 5% 49%, 92% 64%, 0% 68%, 82% 83%
	&-title, &-subtitle, &-item-name, &-item-text
		margin: 0
	&-title
		margin-bottom: -8px
		position: relative
		font-size: 2.25em
	&-subtitle
		display: inline-block
		font-size: 1.875em
		background-color: #08326e
	&-items
		padding: 47px 0 30px
	&-column-1
		margin-left: 21%
	&-column-2
		margin-left: 51%
		top: -7px
	&-column-3
		margin-left: 14%
		top: -48px
	&-column-4
		margin-left: 44%
		top: -50px
	&-column-5
		margin-left: 8%
		top: -98px
	&-column-6
		margin-left: 38%
		top: -107px
	&-item-name
		max-width: 36%
		display: inline-block
		font-size: 1.5em
	&-name-parts
		display: inline-block
		padding: 0 5px
		background-color: #006fb5
	&-item-text
		max-width: 67%








.advantages-btn-wrap
	max-width: 284px
	position: relative
	top: -119px
.advantages-btn
	padding: 20px



@import "media"